@mixin purpleBox($transparency) {
  background-color: rgba(102, 33, 110, $transparency);
  @extend %box;
}
@mixin blueBox($transparency) {
  background-color: rgba(88, 164, 176, $transparency);
  @extend %box;
}
@mixin creamBox($transparency) {
  background-color: rgba(244, 233, 205, $transparency);
  @extend %box;
}
@mixin greyBox($transparency) {
  background-color: rgba(143, 131, 137, $transparency);
  @extend %box;
}
@mixin orangeBox($transparency) {
  background-color: rgba(217, 108, 6, $transparency);
  @extend %box;
}
