$cormorant: "Cormorant Garamond", serif;
$montserrat: "Montserrat", sans-serif;
$playfair: "Playfair Display", serif;

$purple: #66216e;
$blue: #58a4b0;
$cream: #f4e9cd;
$green: #3e442b;
$grey: #6a7062;

$corners: 5px;
$boxShadow: 0px 2px 2px 0px $grey;
$boxPadding: 15px;

$iPadWidth: 768px;
$iPhoneWidth: 430px;
