%columnFlex 
  display: inline-flex
  justify-content: center
  align-items: center
  flex-direction: column


%wrapFlex 
  display: inline-flex
  flex-wrap: wrap
  justify-content: center
  align-items: center


%rowFlex 
  display: inline-flex
  justify-content: center
  align-items: center


%evenSpacingFlex 
  display: inline-flex
  justify-content: space-around
  align-items: center

%rowFlexSpaceBetween
  display: inline-flex
  justify-content: space-between
  align-items: center