@mixin swipeKeyframe($startPos, $endPos, $keyframeName) {
  @keyframes #{$keyframeName} {
    0% {
      transform: translateX($startPos);
    }
    100% {
      transform: translateX($endPos);
    }
  }

  @-moz-keyframes #{$keyframeName} {
    0% {
      transform: translateX($startPos);
    }
    100% {
      transform: translateX($endPos);
    }
  }

  @-webkit-keyframes #{$keyframeName} {
    0% {
      transform: translateX($startPos);
    }
    100% {
      transform: translateX($endPos);
    }
  }

  @-o-keyframes #{$keyframeName} {
    0% {
      transform: translateX($startPos);
    }
    100% {
      transform: translateX($endPos);
    }
  }

  @-ms-keyframes #{$keyframeName} {
    0% {
      transform: translateX($startPos);
    }
    100% {
      transform: translateX($endPos);
    }
  }
}

@mixin swipeFromRight($duration) {
  .fromRight {
    animation: swipeR $duration;
    -webkit-animation: swipeR $duration;
    -moz-animation: swipeR $duration;
    -o-animation: swipeR $duration;
    -ms-animation: swipeR $duration;
    @include swipeKeyframe(100vw, 0vw, 'swipeR');
  }
}

@mixin swipeFromLeft($duration) {
  .fromLeft {
    animation: swipeL $duration;
    -webkit-animation: swipeL $duration;
    -moz-animation: swipeL $duration;
    -o-animation: swipeL $duration;
    -ms-animation: swipeL $duration;
    @include swipeKeyframe(-100vw, 0vw, 'swipeL');
  }
}
