$cormorant: 'Cormorant Garamond', serif;
$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;

$purple: rgb(88, 28, 94);
$blue: rgb(65, 129, 139);
$cream: rgb(244, 233, 205);
$orange: rgb(170, 80, 66);
$grey: rgb(30, 32, 25);

$footerHeight: 60px;

$sectionPadding: 50px;

$tabletWidth: 768px;
$mobileWidth: 425px;
$headerTransitionWidth: 650px;
