@use "../1-globals/variables.sass"
@use "../1-globals/extensions.sass"

#footer 
  @extend %rowFlex
  min-width: 100vw
  height: variables.$footerHeight
  box-shadow: inset 0 5px 0 variables.$purple, inset 0 -5px 0 variables.$purple


.socialIcons 
  margin: 0px 10px 0px 10px

