@use "../1-globals/variables.scss";
@use "../1-globals/extensions.scss";

#header {
  position: sticky;
  top: 0px;
  min-width: 100vw;
  transition: all 0.3s;
  font-family: variables.$montserrat;
  @extend %rowFlex;
}

#linkBox {
  width: 100%;
  @extend %evenSpacingFlex;
}

#hamburger {
  display: none;
}

.normal {
  height: 60px;
  font-size: 1.5em;
  color: variables.$purple;
  background-color: variables.$cream;
}

.stickyShrink {
  height: 45px;
  background-color: variables.$purple;
  z-index: 1;
  color: variables.$cream;
  font-size: 1.2em;
}

.stickyShrink .highlight {
  border-top: solid variables.$cream;
  border-bottom: solid variables.$cream;
}

@media (max-width: variables.$headerTransitionWidth) {
  #hamburger {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 20px;
  }
  .hamburgerNormal {
    height: 60px;
    width: 60px;
    padding: 15px 7.5px 15px 7.5px;
  }

  .pattiesNormal {
    background-color: variables.$purple;
  }

  .hamburgerStickyShrink {
    width: 45px;
    height: 45px;
    padding: 10px 5px 10px 5px;
  }

  .pattiesStickyShrink {
    background-color: variables.$cream;
  }
  .patties {
    width: 90%;
    height: 20%;
    transition: all 0.3s;
  }
  .pattiesOpened:nth-child(1)::before {
    content: "David";
    font-weight: 1000;
    font-size: 65%;
    transform: translateY(10px);
  }
  .pattiesOpened:nth-child(1) {
    transform: rotate(90deg) translateX(30%);
    width: 100%;
    border-radius: 5px;
  }
  .pattiesOpened:nth-child(2) {
    transform: rotate(-45deg) translateX(45%) translateY(45%);
    width: 75%;
    border-radius: 5px;
  }
  .pattiesOpened:nth-child(3) {
    transform: rotate(60deg) translateX(25%) translateY(-250%);
    width: 65%;
    border-radius: 5px;
  }
  #linkBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    transition: all 0.3s;
    width: 200px;
    padding: 20px;
    border-radius: 0px 5px 5px 5px;
  }
  header.stickyShrink > .menuOpen {
    left: 0px;
    top: 44px;
    background-color: variables.$purple;
  }
  header.stickyShrink > .menuClosed {
    left: -200px;
    top: 44px;
  }
  header.normal > .menuOpen {
    left: 0px;
    top: 59px;
    background-color: variables.$cream;
    -webkit-box-shadow: 2px 2px 5px 0px variables.$purple;
    box-shadow: 2px 2px 5px 0px variables.$purple;
  }
  header.normal > .menuClosed {
    left: -200px;
    top: 59px;
  }
}
