@use "../1-globals/variables.scss";

#resume {
  background-color: variables.$orange;
}

#pageIndicator,
#downloadLink {
  font-size: 1.6em;
  font-family: variables.$cormorant;
  margin-bottom: 20px;
}
#pageButtonBox {
  margin-top: 30px;
  @extend %evenSpacingFlex;
  width: 90%;
}
.pageButton {
  width: 100px;
  height: 30px;
  transition: all 1s;
}
#resume > * {
  color: variables.$cream;
}
#resumeHeader {
  color: variables.$cream;
}

@media (max-width: variables.$tabletWidth) {
  #gDriveLink {
    font-size: 1.4em;
  }
  #pageIndicator {
    font-size: 1.4em;
  }
}

@media (max-width: variables.$mobileWidth) {
  #gDriveLink {
    font-size: 1.2em;
  }
  #pageIndicator {
    font-size: 1.2em;
  }
}
