#home > * {
  color: $grey;
}
#headshot {
  max-width: 300px;
}
#headDesc {
  @extend %wrapFlex;
  margin-top: $sectionPadding;
}
#homeDescription {
  width: 90vw;
  max-width: 400px;
  margin: 30px;
}
