#home > * {
  color: $grey;
}
#headshot {
  max-width: 300px;
}
#headDesc {
  @extend %wrapFlex;
  margin-top: $sectionPadding;
}
#homeDescription {
  font-family: $playfair;
  width: 300px;
  margin: 30px;
}
#downloadLink {
  font-size: 1.5em;
}
