#portfolioProject {
  background-color: $grey;
  display: inline-block;
}
#portfolioProject > * {
  color: $cream;
}
.each-slide {
  @extend %rowFlex;
  height: calc(100vh - (#{$sectionPadding} * 2));
  width: 100%;
}
.each-slide > img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
  background: $cream;
}
.buttonBox,
.subButtonBox {
  @extend %wrapFlex;
  width: 100%;
}
.buttonBox {
  margin: 20px 0px 20px 0px;
}
.subButtonBox {
  width: fit-content;
  margin: auto;
}
.subButtonBox > * {
  transition: all 1s;
}
#projectTitle {
  color: $cream;
}
.portfolioButtons {
  margin: auto;
  fill: $cream;
  width: 50px;
}
#leftButton {
  transform: rotate(180deg);
}
#projectDescription {
  width: 100%;
  @extend %columnFlex;
}
#technologyList {
  text-align: center;
  font-size: 1.6;
}

.projectSubheader {
  margin: 30px 0px 30px 0px;
}

@include swipeFromRight(1s);
@include swipeFromLeft(1s);

@media (max-width: $tabletWidth) {
  .portfolioButtons {
    width: 30px;
  }
}

@media (max-width: $mobileWidth) {
}
