#portfolioProject {
  background-color: $grey;
  display: inline-block;
}
.each-slide {
  @extend %rowFlex;
  height: calc(100vh - (#{$sectionPadding} * 2));
  width: 100%;
}
.each-slide > img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
#buttonBox {
  @extend %rowFlex;
  width: 100%;
  margin: 0px 0px 10px 0px;
}
.portfolioButtons {
  margin: auto;
}
