#resume {
  background-color: $orange;
}

#pageIndicator,
#downloadLink {
  font-size: 1.6em;
  font-family: $cormorant;
  margin-bottom: 20px;
}
#pageButtonBox {
  margin-top: 30px;
  @extend %evenSpacingFlex;
  width: 90%;
}
.pageButton {
  width: 100px;
  height: 30px;
  transition: all 1s;
}
#resume > * {
  color: $cream;
}
#resumeHeader {
  color: $cream;
}
